body {
	margin: 0;
	background-image: url('table.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Gill Sans", sans-serif;
}

h1 {
	text-align: center;
	/*color: white;*/
}

h2 {
	font-style: italic;
	text-align: center;
}

#top {
	background-color: rgba(251, 247, 226, .9);
	width:100%;
	padding:0px;
	margin-top:20px;
	position:fixed;
	z-index: 1;
}

.dividing {
	height:200px;
}

.post {
	background: rgba(251, 247, 226, .8);
	margin:4%;
	/*margin-top:10%;*/
	padding-bottom:2px;
	padding-left:2x;
	padding-right:2x;
	width:250px;
	display:inline-block;
}

.thumbnail {
	max-width:100%;
    height:auto;
}

img {
	display: inline;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}
