<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel = "stylesheet" type = "text/css" href = "style.css" />
	<title>Bagel Menu</title>
</head>

<body>
	<div id="top">
	<button class="site_link" type="button" name="button" onclick="window.location.href='index.html';">
	<h4>Menu</h4>
	</button>
	<button class="site_link" type="button" name="button" onclick="window.location.href='cart.html';">
	<h4>Cart</h4>
	</button>
	<button class="site_link" type="button" name="button" onclick="window.location.href='login.html';">
	<h4>Log In</h4>
	</button>
	<button class="site_link" type="button" name="button" onclick="window.location.href='profile.html';">
	<h4>Profile</h4>
	</button>
	<button class="site_link" type="button" name="button" onclick="window.location.href='signup.html';">
	<h4>Sign Up</h4>
	</button>
	</div>
	<img src="logo.png" class="logo">
	<div>
	<div class="dividing">
	</div>
	<h1>Bagel Menu</h1>
	<form action="/bagel_order.php">
	<span class="post">
		<h2>Plain</h2>
		<img src="Plain.jpg" class="thumbnail">
		<span class="quantity">
		<button class="minus-btn" type="button" name="button">
        <p>-</p>
      </button>
      <input type="text" name="name" value="1">
      <button class="plus-btn" type="button" name="button">
        <p>+</p>
      </button>
    </span>
	</span>
	
	<span class="post">
		<h2>Onion</h2>
		<img src="Onion.jpg" class="thumbnail">
		<div class="quantity">
		<button class="minus-btn" type="button" name="button">
        <p>-</p>
      </button>
      <input type="text" name="name" value="1">
      <button class="plus-btn" type="button" name="button">
        <p>+</p>
      </button>
    </div>
	</span>
	
	<span class="post">
		<h2>Sesame</h2>
		<img src="Sesame.jpg" class="thumbnail">
		<div class="quantity">
		<button class="minus-btn" type="button" name="button">
        <p>-</p>
      </button>
      <input type="text" name="name" value="1">
      <button class="plus-btn" type="button" name="button">
        <p>+</p>
      </button>
    </div>
	</span>
	
	<span class="post">
		<h2>Cinnamon Raisen</h2>
		<img src="Cinnamon.jpg" class="thumbnail">
		<div class="quantity">
		<button class="minus-btn" type="button" name="button">
        <p>-</p>
      </button>
      <input type="text" name="name" value="1">
      <button class="plus-btn" type="button" name="button">
        <p>+</p>
      </button>
    </div>
	</span>
<input type="submit" value="Submit">
</form>
	</div>
</body>

</html>