<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load my_filters %}
<head>
	<meta charset="UTF-8">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'bagels/style.css' %}" />
	<title>Dan's Bagels</title>
</head>

<body>
	<div id="top">
	<button class="site_link" type="button" name="button" onclick="window.location.href='index';">
	<h4>Menu</h4>
	</button>
	<button class="site_link" type="button" name="button" onclick="window.location.href='cart';">
	<h4>Cart</h4>
	<!Could we maybe replace this with log out since cart is not being used?-bstew794>
	</button>
	<button class="site_link" type="button" name="button" onclick="window.location.href='login';">
	<h4>Log In</h4>
	</button>
	<button class="site_link" type="button" name="button" onclick="window.location.href='profile';">
	<h4>Profile</h4>
	</button>
	<button class="site_link" type="button" name="button" onclick="window.location.href='signup';">
	<h4>Sign Up</h4>
	</button>
	</div>
	<img src="{% static 'bagels/logo.png' %}" class="logo">
	<div>
	<div class="dividing">
	</div>



	<span class="post">
		<h2>Bagels</h2>
		<img src="{% static 'bagels/bagel.jpg' %}" class="thumbnail">
	</span>

	<span class="post">
		<h2>Schmears</h2>
		<img src="{% static 'bagels/schmear.jpg' %}" class="thumbnail">
	</span>

	<span class="post">
		<h2>Sammiches</h2>
		<img src="{% static 'bagels/sammich.jpg' %}" class="thumbnail">
	</span>

	<span class="post">
		<h2>Beverages</h2>
		<img src="{% static 'bagels/beverage.jpg' %}" class="thumbnail">
	</span>

		<h1>Menu</h1>

	<div class="" style="text-align:center">
		<form class="" action="{% url 'specify' %}" method="post">
			{% csrf_token %}
			<input type="number" name="size" value="size" id="size" min="0">
			<input type="submit" name="howMany" value="How Many Bagels?">
		</form>
	</div>


	<form action="{% url 'purchase' %}" method="post">
	{% csrf_token %}

	{% for i in num|times %}
	<span class="post">
		<h3>Choose a Bagel</h3>
		<select class="" name="item" id="item{{ i }}" value="{{ item.id }}">
			<option value="None"> None </option>
			{% for item in ba %}
			<option value="{{ item.id }}"> {{ item.name }}</option>
			{% endfor %}
		</select>
	</span>

	<span class="post">
		<h3>Add a Schmear</h3>
		<select class="" name="item" id="item{{ i }}" value="{{ item.id }}">
			<option value="None"> None </option>
			{% for item in sc %}
			<option value="{{ item.id }}"> {{ item.name }}</option>
			{% endfor %}
		</select>
	</span>

	<span class="post">
		<h3>Make it a Sandwich</h3>
		{% if sa %}

		{% for item in sa %}
		<div class="">
			<input type="checkbox" name="item" id="item{{ forloop.counter }}" value="{{ item.id }}">
			<label for="item{{ forloop.counter }}">{{ item.name}}</label>
		</div>
		{% endfor %}

		{% else %}
		<h6>No Items Currently</h6>
		{% endif %}
	</span>

	<span class="post">
		<h3>Add a Beverage</h3>
		<select class="" name="item" id="item{{ i }}" value="{{ item.id }}">
			<option value="None"> None </option>
			{% for item in be %}
			<option value="{{ item.id }}"> {{ item.name }}</option>
			{% endfor %}
		</select>
	</span>

	<hr>
	{% endfor %}

	{% if user.is_authenticated %}
	<input type="submit" value="Purchase">
	{% else %}
	<div class="center">
		<h3> <a href="{% url login }"></a> Please log in to order </h3>
	</div>
	{% endif %}
	</form>

	</div>
</body>

</html>
